@charset"=UTF-8";

:root{
    --cor0: rgb(32,32,153);
    --cor1: rgb(12,12,54);
    --cor2: rgb(57,212,127);
    --cor3: rgb(248,105,10);
    --cor4: rgb(81,29,97);

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
     font-family: "Metrophobic", sans-serif;
     background-color: var(--cor1);
}

header{
    color: var(--cor3);
    text-align: center;
    font-size: 25px ;
    border-bottom: solid white 1px;
}
header h1{
    padding-top: 30px;
}
img#html{
    height: 250px;
    width: 250px;
    position: relative;
    top: 200px;
    left: 50px;
   
}
img#css{
    height: 250px;
    width: 200px;
    position: relative;
    left: 850px;
    top: 200px;
   
}
div{
    color:var(--cor2);
    background-color: black;
    width: 500px;
    padding: 30px;
    border-radius: 12px;
    border: solid white 3px;
    position: relative;
    left: 400px;
    bottom: 100px;
}
div p {
    text-align: center;
    text-align: justify;
    line-height: 30px;
    text-indent: 10px;
    font-size: 18px;
}

 a#toque{
    text-decoration: none;
   background-color: var(--cor4);
   color: var(--cor2);
   padding: 30px;
   border-radius: 10px;
}
p#bot{
    margin-top: 45px;
    margin-left: 150px;
    font-weight: bold;
    margin-bottom: 20px;

}
footer{
    padding: 15px;
}
footer p{
    text-align: center;
    color: var(--cor2);
    margin-top: 30px;
}
a#fonte{
    color: var(--cor2);
    
}
