@charset "UTF-8";

:root{
    --cor0: rgb(32,32,153);
    --cor1: rgb(12,12,54);
    --cor2: rgb(57,212,127);
    --cor3: rgb(248,105,10);
    --cor4: rgb(81,29,97);

}
@font-face {
    font-family: 'novo';
    src: url('fontes/Akira\ Expanded\ Demo.otf') format('opentype');
}


*{
    margin: 0px;
    padding: 0px;
}

body{
     font-family:'novo', Arial, Helvetica, sans-serif;
     background-color: var(--cor1);
}
header{
    color: var(--cor3);
    text-align: center;
    font-size: 25px ;
    border-bottom: solid white 1px;
}
header h1{
    padding-top: 30px;
}
nav{
    background-color: var(--cor4);
    border-bottom: 2px solid white ;
}
nav p{
    display: inline-block;
    padding: 10px;
    border-right: 1px solid wheat;
}
p#pag04{
    background-color: var(--cor0);
}
nav p:hover{
    background-color: var(--cor0);
    transition: 1s;
}
nav p a{
    color: white;
    text-decoration: none;
}
main{
    max-width: 100%;
    min-width: 100px;
    margin: auto;
    color:white;
    
}   
div.html{
       position: absolute;
}
div.css{
    position: absolute;
}
div{
    background-color: var(--cor0);
    width: 600px;
    margin: auto;
    margin-top: -90px;
    padding: 30px;
    border-radius: 12px;
} 
div p{
    font-family: 'novo', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-indent: 15px;
    text-align: justify;
}
footer{
    padding: 15px;
}
footer p{
    text-align: center;
    color: var(--cor2);
    margin-top: 30px;
}
a#fonte{
    color: var(--cor2);
    
}
img#html{
    height: 250px;
    width: 250px;
    position: relative;
    top: 200px;
    left: 50px;
   
}
img#css{
    height: 250px;
    width: 200px;
    position: relative;
    left: 850px;
    top: 200px;
   
}
p#bot{
    margin-top: 45px;
    margin-left: 150px;
    font-weight: bold;
    margin-bottom: 20px;

}
a#toque{
   text-decoration: none;
   background-color: var(--cor4);
   color: var(--cor2);
   padding: 30px;
   border-radius: 10px;
}
div.voltar{
    position: absolute;
    background-color: rgb(15, 255, 143);
    color: var(--cor0);
    top: 100px;
    left: 10px;
    margin-top: 0px;
    width: 170px;
    padding: 20px;

}
div.voltar>p{
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}
div.voltar>p>a{
    text-decoration: none;
}
